*{
    margin: 0px;
    padding: 0px;
}
.image-bix img{
    border-radius: 0.3rem;
    border: 0.4px solidrgb(4, 5, 11)0;
    max-width: 100%;
    }
    .image-silder{
        margin: 0px 5rem;
        position: relative;
        top: 5rem;
    }

    .carousel-inner img {
        width: 100%;
        height: 100vh;
        filter: brightness(0.6);
      }