*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.ul-list{
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: rebeccapurple; */
    /* background: linear-gradient(rgba(0,0,0,0),rgba(#f35900)); */
    /* background: linear-gradient(black, red); */
    background-color: rgb(189, 204, 208);

    width: 100%;
    min-height: 4rem;
    position: fixed;
    top: 0;
    z-index: 1;
    list-style: none;
}
.ul-list li a{
    color: rgb(60, 59, 59);
    text-decoration: none;
    font-size: 1.1rem;
    margin-right: 3rem;
    font-weight: 600;
    font-family: sans-serif;

}
.logo-in :hover{
    text-decoration: none;
    /* transition: 0.5s all ease-in; */
    

}
.logo-in{
    position: absolute;
    left: 0;
    top: 0.4rem;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.3rem;
    font-weight: 800;
   margin-left: 2rem;
   z-index: 1;
}

.get-certificate{
    width: 49rem;
    height: 29rem;
    background-color: #dcdada;
    border: 2px solid #644d4d;
    margin: auto;
    margin-top: 11rem;

}